<div class="introduction-card-container">
    <div class="introduction-card-content">
        <div class="introduction-card-maintext">
            <h3>Oi! Eu sou a</h3>
            <h1>Victória Zanella</h1>
        </div>
        <div class="introduction-card-icons">
            <a href="https://www.linkedin.com/in/victoriazanella" target="_blank"><img src="./assets/icons/linkedin-desktop.png" alt="LinkedIn"></a>
            <a href="https://www.github.com/viquiiz" target="_blank"><img src="./assets/icons/github-desktop.png" alt="GitHub"></a>
            <a href="./assets/docs/cv-victoria-zanella.pdf" target="_blank" download><img src="./assets/icons/cv-desktop.png" alt="Download CV"></a>
        </div>
    </div>
</div>