<div class="introduction-card-container">
    <div class="introduction-card-content">
        <div class="introduction-card-maintext">
            <h3>Oi! Eu sou a</h3>
            <h1>Victória Zanella</h1>
        </div>
        <div class="introduction-card-icons">
            <a href="#"><img src="./assets/linkedin-desktop.png" alt="LinkedIn"></a>
            <a href="#"><img src="./assets/github-desktop.png" alt="GitHub"></a>
            <a href="#"><img src="./assets/cv-desktop.png" alt="Download CV"></a>
        </div>
    </div>
</div>