<div class="soft-skills-container">
    <div class="soft-skills-section">
        <div class="title">
            <img src=".\assets\icons\comportamental-desktop.png" alt="Imagem de dicionário para o título de comportamental">
            <h3>comportamental</h3>
        </div>
        <p>trabalho em equipe e colaborativo<br><br>
            comunicação eficaz<br><br>
            iniciativa e proatividade</p>
    </div>
    <div class="soft-skills-section">
        <div class="title">
            <img src=".\assets\icons\languages-desktop.png" alt="Imagem de pessoa falando para o título de linguagens">
            <h3>idiomas</h3>
        </div>
        <p>português - língua nativa <br><br>
            inglês - avançado <br><br>
            espanhol - intermediário</p>
    </div>
</div> 