<div class="about-me-container">
    <h2 class="main-title">
        Sobre Mim
    </h2>
    <p class="about-me-text">
        Oi! Meu nome é Victória, tenho 27 anos e sou do Rio Grande do Sul. Tenho formação em Licenciatura em História, porém iniciei minha transição para a área da tecnologia. O mundo dos jogos sempre me fez gostar muito de computadores, e comecei a estudar programação por curiosidade há cerca de dois anos. Realmente me encontrei na área e hoje sou estudante de Análise e Desenvolvimento de Sistemas, além de estar sempre participando de cursos, projetos e bootcamps para aprimorar meu conhecimento. Sou estagiária de Análise de Dados em uma grande empresa, mas também adoro a área de desenvolvimento - principalmente front-end.
    </p>
</div>