<div class="about-me-container">
    <h2 class="main-title">
        Sobre Mim
    </h2>
    <p class="about-me-text">
        Oi! Meu nome é Victória, tenho 26 anos e sou do Rio Grande do Sul. Tenho formação em Licenciatura em História, porém estou em transição para a área da tecnologia. O mundo dos jogos sempre me fez gostar muito de computadores, e comecei a estudar programação por curiosidade há cerca de um ano e meio. Realmente me encontrei na área e hoje sou estudante de Análise e Desenvolvimento de Sistemas, além de sempre estar participando de cursos, projetos e bootcamps para aprimorar meu conhecimento. Iniciei estudando desenvolvimento back-end, mas também gostei muito de desenvolvimento front-end, e atualmente estou estudando ambas as áreas em paralelo. Estou buscando uma oportunidade para começar a trabalhar na área.
    </p>
</div>