<div class="contact-page-container">
    <div class="main-title">    
        <h2>Contato<span> :) </span></h2>
    </div>
    <div class="contact-content">
        <section class="contact-section">
            <div class="contact-title">
                <p>e-mail</p>
            </div>
            <div class="contact-link">
                <p><a href="mailto:vzanella@outlook.com.br">vzanella@outlook.com.br</a></p>
            </div>
        </section>
        <section class="contact-section">
            <div class="contact-title">
                <p>linkedin</p>
            </div>
            <div class="contact-link">
                <p><a href="https://www.linkedin.com/in/victoriazanella" target="_blank">linkedin.com/in/victoriazanella</a></p>
            </div>
        </section>
        <section class="contact-section">
            <div class="contact-title">
                <p>github</p>
            </div>
            <div class="contact-link">
                <p><a href="https://www.github.com/viquiiz" target="_blank">github.com/viquiiz</a></p>
            </div>
        </section>
    </div>
</div>