.about-me-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 3rem;
}

.about-me-text {
    padding: 8.5rem 3rem 0 3rem;
}

.about-me-gif {
    display: flex;
    margin-top: 16.6rem;
    background-color: rgba(223, 224, 223, 0.70);
    border-radius: 0.8rem;
    width: 60rem;
}

.about-me-gif > img {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}