.home-page-container {
    height: 93.7rem;
    background-image: url(src/assets/background.png);
    background-repeat: no-repeat;
    background-position: right 0% top 0%;
}

.introduction-card {
    width: 50%;
    padding: 22.6rem 0 0 8.25rem;
}

.my-photo {
    top: 23%;
    right: 20%;
    position: absolute;
    z-index: 99;
}