<div class="hard-skills-container">
    <div class="hard-skills-section">
        <div class="title">
            <img src=".\assets\img\software-development-desktop.png" alt="Imagem de computador para o título de software development">
            <h3>software development</h3>
        </div>
        <p>Experiência com programação funcional e OOP: Python, Java, JavaScript, TypeScript.</p>
    </div>
    <div class="hard-skills-section">
        <div class="title">
            <img src=".\assets\img\frontend-development-desktop.png" alt="Imagem de internet para o título de frontend development">
            <h3>frontend development</h3>
        </div>
        <p>Adoro estudar sobre UI e UX. Tenho experiência com HTML, CSS e com o framework Angular.</p>
    </div>
    <div class="hard-skills-section">
        <div class="title">
            <img src=".\assets\img\worktools-desktop.png" alt="Imagem de ferramentas para o título de ferramentas de trabalho">
            <h3>ferramentas de trabalho</h3>
        </div>
        <p>Geralmente trabalho com Visual Studio Code, versionamento com Git / GitHub e como ferramenta de design uso Figma.</p>
    </div>
</div>