<div class="app-container">
    <div class="menu-bar">
        <app-menu-bar></app-menu-bar>
    </div>
    <div class="app-content">
        <div class="homepage">
            <app-home-page></app-home-page>
        </div>
        <hr>
        <div class="aboutme-page">
            <app-about-me-page></app-about-me-page>
        </div>
        <div class="skills-page">
            <app-skills-page></app-skills-page>
        </div>
        <div class="projects-page">
            <app-projects-page></app-projects-page>
        </div>
        <div class="education-page">
            <app-education-page></app-education-page>
        </div>
        <div class="contact-page">
            <app-contact-page></app-contact-page>
        </div>
    </div>
</div>

<router-outlet></router-outlet>