<section class="app-container">
    <section class="menu-bar">
        <app-menu-bar></app-menu-bar>
    </section>
    <section class="app-content">
        <section class="homepage" id="home">
            <app-home-page></app-home-page>
        </section>
        <hr>
        <section class="aboutme-page" id="aboutme">
            <app-about-me-page></app-about-me-page>
        </section>
        <section class="skills-page" id="skills">
            <app-skills-page></app-skills-page>
        </section>
        <section class="projects-page" id="projects">
            <app-projects-page></app-projects-page>
        </section>
        <section class="education-page" id="education">
            <app-education-page></app-education-page>
        </section>
        <section class="contact-page" id="contact">
            <app-contact-page></app-contact-page>
        </section>
        <section class="scroll-up-button">
            <app-scroll-up></app-scroll-up>
        </section>
    </section>
</section>

<router-outlet></router-outlet>