<div class="projects-container">
    <div class="projects-main-title">
        <h3>Projetos</h3>
    </div>
    <div class="projects-cards">
        <app-project-card class="projects-card-component"></app-project-card>
        <app-project-card class="projects-card-component"></app-project-card>
        <app-project-card class="projects-card-component"></app-project-card>
        <app-project-card class="projects-card-component"></app-project-card>
        <app-project-card class="projects-card-component"></app-project-card>
        <app-project-card class="projects-card-component"></app-project-card>
    </div>
</div>