.menu-bar-container {
    display: flex;
    flex-direction: row;
    background-color: #DFE0DF;
    height: 6rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: space-between;
}

.menu-bar-language > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: auto;
}

.menu-bar-language{
    margin-left: 1.5rem;
}

.menu-bar-language > ul > li {
    padding: 0.5rem 0 0.5rem 0;
}

.menu-bar-language > ul > li {
    text-decoration: none;
    color: rgba(95, 65, 25, 0.43);
    font-size: 100%;
    font-weight: 400;
    cursor: pointer;
}

.menu-bar-language > ul > span {
    padding: 0.5rem 0 0.5rem 0;
    color: rgba(95, 65, 25, 1);
}

.menu-bar-language > ul > li:hover {
    color: rgba(95, 65, 25, 1);
    font-size: 102%;
    font-weight: 500;
    transition: all 0.3s ease 0s;
}

.menu-bar-options > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: auto;
}

.menu-bar-options > ul > li {
    padding: 0.5rem;
    margin-right: 1.5rem;
}

.menu-bar-options > ul > li {
    font-size: 100%;
    font-weight: 400;
    text-decoration: none;
    color: rgba(95, 65, 25, 0.43);
    padding: 0.5rem;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.menu-bar-options > ul > li:hover {
    color: rgba(95, 65, 25, 1);
    font-size: 102%;
    transition: all 0.3s ease 0s;
    font-weight: 500;
}