<div class="menu-bar-container">
    <div class="menu-bar-language">
        <ul>
            <li><a href="#">pt-br</a></li>
            <span>//</span>
            <li><a href="#">en</a></li>

        </ul>
    </div>
    <div class="menu-bar-options">
        <ul>
            <li><a href="#">// sobre mim</a></li>
            <li><a href="#">// habilidades</a></li>
            <li><a href="#">// projetos</a></li>
            <li><a href="#">// educação</a></li>
            <li><a href="#">// contato</a></li>
        </ul>
    </div>
</div>