<div class="menu-bar-container">
    <div class="menu-bar-language">
        <ul>
            <li>pt-br</li>
            <span>//</span>
            <li>en</li>

        </ul>
    </div>
    <div class="menu-bar-options">
        <ul>
            <li (click)="ScrollTo('aboutme')">// sobre mim </li>
            <li (click)="ScrollTo('skills')">// habilidades</li>
            <li (click)="ScrollTo('projects')">// projetos</li>
            <li (click)="ScrollTo('education')">// educação</li>
            <li (click)="ScrollTo('contact')">// contato</li>
        </ul>
    </div>
</div>