<div class="education-page-container">
    <div class="education-title">
        <h3>Educação</h3>
    </div>
    <div class="education-content">
        <app-education-card class="education-card"></app-education-card>
        <div class="education-certificates">
            <div class="certificates-title">
                <img src="./assets/diploma-desktop.png" alt="">
                <h4>Cursos e certificados</h4>
            </div>
            <div class="certificate-cards">
                <app-certificate-card class="certificate-card"></app-certificate-card>
                <app-certificate-card class="certificate-card"></app-certificate-card>
                <app-certificate-card class="certificate-card"></app-certificate-card>
                <app-certificate-card class="certificate-card"></app-certificate-card>
                <app-certificate-card class="certificate-card"></app-certificate-card>
                <app-certificate-card class="certificate-card"></app-certificate-card>
                <app-certificate-card class="certificate-card"></app-certificate-card>
                <app-certificate-card class="certificate-card"></app-certificate-card>
            </div>
        </div> 
    </div>
    
</div>