<div class="education-page-container">
    <div class="education-title">
        <h3>Educação</h3>
    </div>
    <div class="education-content">
        <app-education-card class="education-card"></app-education-card>
        <div class="education-certificates">
            <div class="certificates-title">
                <img src="./assets/img/diploma-desktop.png" alt="">
                <h4>Cursos e certificados</h4>
            </div>
            <div class="certificate-cards">
                <app-certificate-card class="certificate-card" title="PyCaxias 2023" description="Evento da comunidade Python de Caxias do Sul" date="11/03/2023" workload="8h" link="https://www.sympla.com.br/baixar-certificados-auth/_MrcFh67CT3xJKZpx4BZKPfXNEyuTsTgsrNELHiO6os"></app-certificate-card>
                <app-certificate-card class="certificate-card" title="Java Básico e Orientação à Objetos" description="Loiane Training" date="05/07/2023" workload="30h" link="https://loiane.training/certificado/UfKWa58vDygtFI2o5CuW"></app-certificate-card>
                <app-certificate-card class="certificate-card" title="Santander Bootcamp 2023 - Fullstack Java + Angular" description="DIO" date="22/10/2023" workload="115h" link="https://hermes.digitalinnovation.one/certificates/93E6BC1B.pdf"></app-certificate-card>
                <app-certificate-card class="certificate-card" title="Python Brasil 2023" description="Evento da comunidade brasileira de Python" date="02/11/2023 - 04/11/2023" workload="21h" link="https://drive.google.com/file/d/1n_X8pEyUCT7INSSB48NlP_Z1lqiNMn1j/view"></app-certificate-card>

            </div>
        </div> 
    </div>
    
</div>