<div class="education-card-container">
    <div class="education-card-section">
        <div class="title">
            <img src=".\assets\icons\history-desktop.png" alt="Imagem de pilar para o título de licenciatura em história">
            <h3>licenciatura plena em história</h3>
        </div>
        <p>Graduação completa cursada entre 2015 - 2019 pela Universidade de Caxias do Sul (UCS).</p>
    </div>
    <div class="education-card-section">
        <div class="title">
            <img src=".\assets\icons\ads-desktop.png" alt="Imagem de computador para o título de análise e desenvolvimento de sistemas">
            <h3>análise e desenvolvimento de sistemas</h3>
        </div>
        <p>Graduação em andamento com início em 2023 pela UNINTER Centro Universitário Internacional.</p>
    </div>
</div> 